In [11]:
import pandas as pd
import numpy as np

from sklearn import svm
from sklearn import preprocessing

from matplotlib import pyplot as plt

# 1. 读取数据

In [13]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

### 头部文件

In [6]:
train.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,8,0,0,0,0,0,1,1,0,...,0,1,1,1,0,0,1,0,0,Class_4
1,2,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,6,0,0,0,Class_8
2,3,1,0,0,0,0,0,0,2,3,...,1,0,0,1,0,0,0,0,0,Class_6
3,4,0,0,0,0,0,0,0,1,2,...,3,0,1,0,0,3,0,0,0,Class_8
4,5,0,0,5,8,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,Class_6

### 数据信息

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49502 entries, 0 to 49501
Data columns (total 95 columns):
id         49502 non-null int64
feat_1     49502 non-null int64
feat_2     49502 non-null int64
feat_3     49502 non-null int64
feat_4     49502 non-null int64
feat_5     49502 non-null int64
feat_6     49502 non-null int64
feat_7     49502 non-null int64
feat_8     49502 non-null int64
feat_9     49502 non-null int64
feat_10    49502 non-null int64
feat_11    49502 non-null int64
feat_12    49502 non-null int64
feat_13    49502 non-null int64
feat_14    49502 non-null int64
feat_15    49502 non-null int64
feat_16    49502 non-null int64
feat_17    49502 non-null int64
feat_18    49502 non-null int64
feat_19    49502 non-null int64
feat_20    49502 non-null int64
feat_21    49502 non-null int64
feat_22    49502 non-null int64
feat_23    49502 non-null int64
feat_24    49502 non-null int64
feat_25    49502 non-null int64
feat_26    49502 non-null int64
feat_27    49502 non-null int64
feat_28    49502 non-null int64
feat_29    49502 non-null int64
feat_30    49502 non-null int64
feat_31    49502 non-null int64
feat_32    49502 non-null int64
feat_33    49502 non-null int64
feat_34    49502 non-null int64
feat_35    49502 non-null int64
feat_36    49502 non-null int64
feat_37    49502 non-null int64
feat_38    49502 non-null int64
feat_39    49502 non-null int64
feat_40    49502 non-null int64
feat_41    49502 non-null int64
feat_42    49502 non-null int64
feat_43    49502 non-null int64
feat_44    49502 non-null int64
feat_45    49502 non-null int64
feat_46    49502 non-null int64
feat_47    49502 non-null int64
feat_48    49502 non-null int64
feat_49    49502 non-null int64
feat_50    49502 non-null int64
feat_51    49502 non-null int64
feat_52    49502 non-null int64
feat_53    49502 non-null int64
feat_54    49502 non-null int64
feat_55    49502 non-null int64
feat_56    49502 non-null int64
feat_57    49502 non-null int64
feat_58    49502 non-null int64
feat_59    49502 non-null int64
feat_60    49502 non-null int64
feat_61    49502 non-null int64
feat_62    49502 non-null int64
feat_63    49502 non-null int64
feat_64    49502 non-null int64
feat_65    49502 non-null int64
feat_66    49502 non-null int64
feat_67    49502 non-null int64
feat_68    49502 non-null int64
feat_69    49502 non-null int64
feat_70    49502 non-null int64
feat_71    49502 non-null int64
feat_72    49502 non-null int64
feat_73    49502 non-null int64
feat_74    49502 non-null int64
feat_75    49502 non-null int64
feat_76    49502 non-null int64
feat_77    49502 non-null int64
feat_78    49502 non-null int64
feat_79    49502 non-null int64
feat_80    49502 non-null int64
feat_81    49502 non-null int64
feat_82    49502 non-null int64
feat_83    49502 non-null int64
feat_84    49502 non-null int64
feat_85    49502 non-null int64
feat_86    49502 non-null int64
feat_87    49502 non-null int64
feat_88    49502 non-null int64
feat_89    49502 non-null int64
feat_90    49502 non-null int64
feat_91    49502 non-null int64
feat_92    49502 non-null int64
feat_93    49502 non-null int64
target     49502 non-null object
dtypes: int64(94), object(1)
memory usage: 35.9+ MB

### 统计特性

In [9]:
train.describe()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,49502.00000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,...,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000,49502.000000
mean,24751.50000,0.388025,0.262575,0.906105,0.782696,0.071351,0.026221,0.193932,0.667690,0.995596,...,0.072644,0.533170,1.135833,0.392631,0.874409,0.461214,0.799846,0.268797,0.383358,0.125288
std,14290.14085,1.543500,1.267077,2.948949,2.787982,0.442075,0.221287,1.021834,2.247667,3.434964,...,1.173817,1.897023,2.718449,1.586333,2.118412,1.547358,4.522117,2.064012,0.990694,1.191532
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12376.25000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24751.50000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37126.75000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,49502.00000,61.000000,51.000000,64.000000,68.000000,19.000000,10.000000,38.000000,75.000000,43.000000,...,76.000000,55.000000,65.000000,67.000000,30.000000,61.000000,130.000000,48.000000,19.000000,87.000000